* {
  padding: 0;
  margin: 0;
}

/* start of nav bar*/
nav {
  background-color: black;
  height: 60px;
  width: 100%;
  position: static;
}

nav p a {
  font-size: 26px;
  line-height: 60px;
  font-family: arial;
  float: left;
  color: white;
  padding: 0px 10px;
  text-decoration: none;
}

nav p a:hover {
  background-color: #303030;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-size: 15px;
  color: white;
  font-family: arial;
  padding: 21px 15px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: black;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  padding: 8px 15px;
}

.scratch:hover {
  background-color: #303030;
  padding-right: 23px;
}

.youtube:hover {
  background-color: #303030;
  padding-right: 20px;
}

.github:hover {
  background-color: #303030;
  padding-right: 30px;
}

nav ul li a:hover {
  background-color: #303030;
}

nav img {
  height: 60px;
  float: left;
}
/* end of nav bar*/

main {
  font-family: arial;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #f3f3f3;
  bottom: 0px;
  margin-bottom: 0px;
  position: fixed;
  font-family: arial;
}

footer p {
  margin-left: 43%;
}
